@import './../../scss/functions';
@import './../../scss/mixins';

.widget-buy {
  $size: 16;

  font-size: $size + px;
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  grid-gap: em(30);

  @media screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }

  [data-loader] {
    @include loaders;
  }

  &-item {
    box-sizing: border-box;
    width: 100%;
    padding: em(35) em(25);
    background: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    &_image {
      max-width: 100%;
      height: em(133);
      object-fit: contain;
    }

    &_name {
      $nameSize: 18;

      width: 100%;
      overflow: hidden;
      box-sizing: border-box;

      font-size: em($nameSize);
      padding: em(20, $nameSize) 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--textColor);
    }

    &_footer {
      margin-top: auto;
      width: 100%;
      padding: em(30) 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_price {
      font-size: em(18);
      color: var(--priceColor);
      line-height: 1.3;
      font-weight: normal;
      text-align: left;

      &--sup {
        font-size: 0.5em;
      }
    }

    &_buy {
      $buySize: 16;

      flex-shrink: 0;
      max-width: 60%;
      background: var(--button);
      color: var(--buttonColor);
      margin: 0;
      border: none;
      cursor: pointer;
      font-size: em($buySize);
      height: em(40, $buySize);
      padding: 0 em(20, $buySize);

      transition: background 0.5s;

      &:hover {
        background: var(--buttonHover);
      }
    }
  }

  &-trade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: em(20);
    overflow: hidden;
    /* bug: safari */
    min-height: em(376);

    &_close {
      @include close;
      position: absolute;
      right: em(10);
      top: em(10);
    }

    &_item {
      font-size: inherit;
      background: var(--background);
      text-decoration: none;
      padding: em(20);
      box-sizing: border-box;

      display: none;

      // Показываем только первых 4 элемента
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-empty {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: em(18);
    color: var(--textColor);
  }
  &-add {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;

    &_button {
      $moreSize: 16;
      font-size: $moreSize + px;
      padding: 0 em(25, $moreSize);
      height: em(40, $moreSize);
      cursor: pointer;
      margin: 0;
      border: none;

      background: var(--button);
      color: var(--buttonColor);
      transition: background 0.5s;

      &:hover {
        background: var(--buttonHover);
      }
    }
  }
}