@import './../../scss/functions';
@import './../../scss/mixins';

body.widget-popup-open {
  overflow: hidden;
  position: relative;
}

.widget-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  overflow: auto;
  display: flex;
  align-items: center;


  &-wrapper {
    color: var(--textColor);
    position: relative;
    height: min-content;
    box-sizing: border-box;
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
  }

  iframe {
    width: 80%;
    height: 80vh;
    margin: auto;
    max-height: em(900);
    min-height: em(450);
    display: block;
  }

  &-close {
    @include close('medium');
    position: absolute;
    right: em(10);
    top: em(10);
  }
}