@function vw($px) {
  @return $px / 1920 * 100 + vw;
}

@function vh($px) {
  @return $px / 1080 * 100 + vh;
}

@function em($px, $root: 16) {
  @return $px / $root + em;
}

@function rem($size) {
  @return $size / 16 * 1rem;
}
