@mixin loaders {
  color: transparent;
  position: relative;
  &:before {
    content: " ";
    display: block;
    width: em(20);
    height: em(20);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    border: em(5) solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin close($size: 'small') {
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: em(30);
  height: em(30);
  transform: rotate(-45deg);
  cursor: pointer;
  transition: color, transform .5s;
  color: #fff;

  @if $size == 'medium' {
    font-size: 1.5em;
  }
  @else {
    font-size: 1em;
  }

  &:hover {
    transform: rotate(0);
    color: var(--buttonHover);
  }
  &:before,
  &:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: currentColor;
  }

  &:before {
    width: em(2);
    height: 100%;
  }
  &:after {
    height: em(2);
    width: 100%;
  }
} 