@import './../../scss/functions';
@import './../../scss/mixins';

.widget-partners {
  max-width: 80%;
  margin: 0 auto;
  $size: 16;

  font-size: $size + px;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &[data-loader] {
    @include loaders;
  }

  &-item {
    height: em(57);
    padding: em(20);
    opacity: 1;
    transition: opacity 0.5s;
    box-sizing: initial;

    @media screen and (max-width: 600px) {
      max-width: 50%;
      height: em(80);
    }
    @media screen and (max-width: 320px) {
      width: 100%;
      max-width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }

    &_image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-empty {
    text-align: center;
    font-size: em(18);
    color: var(--textColor);
  }
}